 # Predicting Diabetes

In [4]:
from path import Path
import pandas as pd

In [5]:
data = Path('Dummy_Data.csv')
df = pd.read_csv(data)
df.head()

   year       state state_po    GDP  Bachelor's Degree Attainment  Rep/Dem
0  2016     ALABAMA       AL  40598                          25.5        1
1  2016      ALASKA       AK  71996                          30.2        1
2  2016     ARIZONA       AZ  43464                          29.7        1
3  2016    ARKANSAS       AR  38919                          23.3        1
4  2016  CALIFORNIA       CA  68803                          34.2        0

 ## Separate the Features (X) from the Target (y)

In [12]:
y = df["Rep/Dem"]
X = df.drop(columns=["Rep/Dem",'year','state','state_po'])

 ## Split our data into training and testing

In [13]:
y.value_counts()

1    55
0    47
Name: Rep/Dem, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(76, 2)

 ## Create a Logistic Regression Model

In [15]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

 ## Fit (train) or model using the training data

In [16]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

 ## Make predictions

In [17]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       1
1            0       0
2            0       1
3            0       1
4            0       1
5            0       0
6            0       1
7            0       1
8            0       1
9            0       0
10           0       0
11           0       1
12           0       1
13           0       1
14           0       0
15           0       1
16           0       0
17           0       0
18           0       0
19           0       0

In [18]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.46153846153846156

In [19]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[12  0]
 [14  0]]

In [20]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.46      1.00      0.63        12
           1       0.00      0.00      0.00        14

    accuracy                           0.46        26
   macro avg       0.23      0.50      0.32        26
weighted avg       0.21      0.46      0.29        26

C:\Users\kroma\.conda\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kroma\.conda\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kroma\.conda\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))