In [1]:
# Sample Data Run
from path import Path
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
data1 = Path('Resources/Presidential_96_2020.csv')
df1 = pd.read_csv(data1)
df1.head()

,year,state,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,Winning_Party
0,1996,ALABAMA,662165,5290.0,97850.0,769044,REPUBLICAN
1,1996,ALASKA,80380,2276.0,36218.0,122746,REPUBLICAN
2,1996,ARIZONA,653288,14358.0,114686.0,622073,DEMOCRAT
3,1996,ARKANSAS,475171,3076.0,80599.0,325416,DEMOCRAT
4,1996,CALIFORNIA,5119835,73600.0,997653.0,3828381,DEMOCRAT

In [3]:
df1['Outcome'] = np.where(df1['Winning_Party']=='REPUBLICAN', 1, 0)
df1

,year,state,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,Winning_Party,Outcome
0,1996,ALABAMA,662165,5290.0,97850.0,769044,REPUBLICAN,1
1,1996,ALASKA,80380,2276.0,36218.0,122746,REPUBLICAN,1
2,1996,ARIZONA,653288,14358.0,114686.0,622073,DEMOCRAT,0
3,1996,ARKANSAS,475171,3076.0,80599.0,325416,DEMOCRAT,0
4,1996,CALIFORNIA,5119835,73600.0,997653.0,3828381,DEMOCRAT,0
...,...,...,...,...,...,...,...,...
352,2020,VIRGINIA,2413568,64761.0,19765.0,1962430,DEMOCRAT,0
353,2020,WASHINGTON,2369612,80500.0,52868.0,1584651,DEMOCRAT,0
354,2020,WEST VIRGINIA,235984,10687.0,2599.0,545382,REPUBLICAN,1
355,2020,WISCONSIN,1630866,NaN,56991.0,1610184,DEMOCRAT,0
356,2020,WYOMING,73491,5768.0,5685.0,193559,REPUBLICAN,1

In [4]:
df1 = df1[df1.year >= 2000]
df1

,year,state,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,Winning_Party,Outcome
51,2000,ALABAMA,692611,5893.0,26595.0,941173,REPUBLICAN,1
52,2000,ALASKA,79004,2636.0,36522.0,167398,REPUBLICAN,1
53,2000,ARIZONA,685341,5775.0,59248.0,781652,REPUBLICAN,1
54,2000,ARKANSAS,422768,2781.0,23292.0,472940,REPUBLICAN,1
55,2000,CALIFORNIA,5861203,45520.0,491670.0,4567429,DEMOCRAT,0
...,...,...,...,...,...,...,...,...
352,2020,VIRGINIA,2413568,64761.0,19765.0,1962430,DEMOCRAT,0
353,2020,WASHINGTON,2369612,80500.0,52868.0,1584651,DEMOCRAT,0
354,2020,WEST VIRGINIA,235984,10687.0,2599.0,545382,REPUBLICAN,1
355,2020,WISCONSIN,1630866,NaN,56991.0,1610184,DEMOCRAT,0
356,2020,WYOMING,73491,5768.0,5685.0,193559,REPUBLICAN,1

In [5]:
df1 = df1.rename(columns=str.upper)
df1

,YEAR,STATE,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,WINNING_PARTY,OUTCOME
51,2000,ALABAMA,692611,5893.0,26595.0,941173,REPUBLICAN,1
52,2000,ALASKA,79004,2636.0,36522.0,167398,REPUBLICAN,1
53,2000,ARIZONA,685341,5775.0,59248.0,781652,REPUBLICAN,1
54,2000,ARKANSAS,422768,2781.0,23292.0,472940,REPUBLICAN,1
55,2000,CALIFORNIA,5861203,45520.0,491670.0,4567429,DEMOCRAT,0
...,...,...,...,...,...,...,...,...
352,2020,VIRGINIA,2413568,64761.0,19765.0,1962430,DEMOCRAT,0
353,2020,WASHINGTON,2369612,80500.0,52868.0,1584651,DEMOCRAT,0
354,2020,WEST VIRGINIA,235984,10687.0,2599.0,545382,REPUBLICAN,1
355,2020,WISCONSIN,1630866,NaN,56991.0,1610184,DEMOCRAT,0
356,2020,WYOMING,73491,5768.0,5685.0,193559,REPUBLICAN,1

In [6]:
df1_final = df1[['YEAR','STATE','OUTCOME']]
df1_final

     YEAR          STATE  OUTCOME
51   2000        ALABAMA        1
52   2000         ALASKA        1
53   2000        ARIZONA        1
54   2000       ARKANSAS        1
55   2000     CALIFORNIA        0
..    ...            ...      ...
352  2020       VIRGINIA        0
353  2020     WASHINGTON        0
354  2020  WEST VIRGINIA        1
355  2020      WISCONSIN        0
356  2020        WYOMING        1

[306 rows x 3 columns]

In [7]:
data2 = Path('Resources/CENSUS_00_19.csv')
df2 = pd.read_csv(data2)
df2['STATE_NAME'] = df2['STATE_NAME'].str.upper()
df2

,YEAR,STATE_NAME,STATE_NUMBER,REGION,DIVISION,TOTAL_POPULATION,RACE_WHITE,RACE_BLACK,RACE_OTHER,AGE_0_TO_19,AGE_20_TO_39,AGE_40_TO_59,AGE_60_TO_79,AGE_80_AND_OVER,ORIGIN_HISPANIC,ORIGIN_NOT_HISPANIC,SEX_FEMALE,SEX_MALE
0,2000,ALABAMA,1,South,East South Central,4447207,3195561,1158988,92658,1256218,1250228,1170854,624964,144943,75821,4371386,2300647,2146560
1,2000,ALASKA,2,West,Pacific,626933,446431,22909,157593,208114,185095,180695,46700,6329,25852,601081,302821,324112
2,2000,ARIZONA,4,West,Mountain,5130247,4518143,168952,443152,1518175,1498202,1242614,711472,159784,1295616,3834631,2569382,2560865
3,2000,ARKANSAS,5,South,West South Central,2673293,2183097,420516,69680,760477,734755,686669,392228,99164,86862,2586431,1368647,1304646
4,2000,CALIFORNIA,6,West,Pacific,33871653,26365296,2381132,5125225,10234576,10425088,8469482,3814015,928492,10966547,22905106,16996778,16874875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,2019,VIRGINIA,51,South,South Atlantic,8535519,5922648,1696911,915960,2087426,2343713,2215430,1579134,309816,834422,7701097,4335262,4200257
1016,2019,WASHINGTON,53,West,Pacific,7614893,5977696,331924,1305273,1840306,2203448,1890236,1417638,263265,991721,6623172,3802910,3811983
1017,2019,WEST VIRGINIA,54,South,South Atlantic,1792147,1675122,64610,52415,402473,431297,461667,412728,83982,31162,1760985,904377,887770
1018,2019,WISCONSIN,55,Midwest,East North Central,5822434,5067781,390543,364110,1422095,1505295,1477023,1170814,247207,413208,5409226,2925225,2897209
1019,2019,WYOMING,56,West,Mountain,578759,535371,7467,35921,148172,154264,136658,118025,21640,58609,520150,284029,294730

In [8]:
df2['PCT_WHITE'] = df2.RACE_WHITE / df2.TOTAL_POPULATION
df2['PCT_BLACK'] = df2.RACE_BLACK / df2.TOTAL_POPULATION
df2['PCT_HISPANIC'] = df2.ORIGIN_HISPANIC / df2.TOTAL_POPULATION
df2['PCT_OVER_60'] = (df2.AGE_60_TO_79 + df2.AGE_80_AND_OVER) / df2.TOTAL_POPULATION
df2['PCT_UNDER_40'] = (df2.AGE_0_TO_19 + df2.AGE_20_TO_39) / df2.TOTAL_POPULATION

df2

,YEAR,STATE_NAME,STATE_NUMBER,REGION,DIVISION,TOTAL_POPULATION,RACE_WHITE,RACE_BLACK,RACE_OTHER,AGE_0_TO_19,...,AGE_80_AND_OVER,ORIGIN_HISPANIC,ORIGIN_NOT_HISPANIC,SEX_FEMALE,SEX_MALE,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40
0,2000,ALABAMA,1,South,East South Central,4447207,3195561,1158988,92658,1256218,...,144943,75821,4371386,2300647,2146560,0.718555,0.260610,0.017049,0.173121,0.563600
1,2000,ALASKA,2,West,Pacific,626933,446431,22909,157593,208114,...,6329,25852,601081,302821,324112,0.712087,0.036541,0.041236,0.084585,0.627195
2,2000,ARIZONA,4,West,Mountain,5130247,4518143,168952,443152,1518175,...,159784,1295616,3834631,2569382,2560865,0.880687,0.032933,0.252545,0.169827,0.587959
3,2000,ARKANSAS,5,South,West South Central,2673293,2183097,420516,69680,760477,...,99164,86862,2586431,1368647,1304646,0.816632,0.157303,0.032493,0.183815,0.559322
4,2000,CALIFORNIA,6,West,Pacific,33871653,26365296,2381132,5125225,10234576,...,928492,10966547,22905106,16996778,16874875,0.778388,0.070299,0.323768,0.140014,0.609940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,2019,VIRGINIA,51,South,South Atlantic,8535519,5922648,1696911,915960,2087426,...,309816,834422,7701097,4335262,4200257,0.693883,0.198806,0.097759,0.221305,0.519141
1016,2019,WASHINGTON,53,West,Pacific,7614893,5977696,331924,1305273,1840306,...,263265,991721,6623172,3802910,3811983,0.785001,0.043589,0.130234,0.220739,0.531032
1017,2019,WEST VIRGINIA,54,South,South Atlantic,1792147,1675122,64610,52415,402473,...,83982,31162,1760985,904377,887770,0.934701,0.036052,0.017388,0.277159,0.465235
1018,2019,WISCONSIN,55,Midwest,East North Central,5822434,5067781,390543,364110,1422095,...,247207,413208,5409226,2925225,2897209,0.870389,0.067076,0.070968,0.243544,0.502778
1019,2019,WYOMING,56,West,Mountain,578759,535371,7467,35921,148172,...,21640,58609,520150,284029,294730,0.925033,0.012902,0.101267,0.241318,0.522559

In [9]:
df2.loc[df2['YEAR'] == 2019, 'YEAR'] = 2020
df2

,YEAR,STATE_NAME,STATE_NUMBER,REGION,DIVISION,TOTAL_POPULATION,RACE_WHITE,RACE_BLACK,RACE_OTHER,AGE_0_TO_19,...,AGE_80_AND_OVER,ORIGIN_HISPANIC,ORIGIN_NOT_HISPANIC,SEX_FEMALE,SEX_MALE,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40
0,2000,ALABAMA,1,South,East South Central,4447207,3195561,1158988,92658,1256218,...,144943,75821,4371386,2300647,2146560,0.718555,0.260610,0.017049,0.173121,0.563600
1,2000,ALASKA,2,West,Pacific,626933,446431,22909,157593,208114,...,6329,25852,601081,302821,324112,0.712087,0.036541,0.041236,0.084585,0.627195
2,2000,ARIZONA,4,West,Mountain,5130247,4518143,168952,443152,1518175,...,159784,1295616,3834631,2569382,2560865,0.880687,0.032933,0.252545,0.169827,0.587959
3,2000,ARKANSAS,5,South,West South Central,2673293,2183097,420516,69680,760477,...,99164,86862,2586431,1368647,1304646,0.816632,0.157303,0.032493,0.183815,0.559322
4,2000,CALIFORNIA,6,West,Pacific,33871653,26365296,2381132,5125225,10234576,...,928492,10966547,22905106,16996778,16874875,0.778388,0.070299,0.323768,0.140014,0.609940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,2020,VIRGINIA,51,South,South Atlantic,8535519,5922648,1696911,915960,2087426,...,309816,834422,7701097,4335262,4200257,0.693883,0.198806,0.097759,0.221305,0.519141
1016,2020,WASHINGTON,53,West,Pacific,7614893,5977696,331924,1305273,1840306,...,263265,991721,6623172,3802910,3811983,0.785001,0.043589,0.130234,0.220739,0.531032
1017,2020,WEST VIRGINIA,54,South,South Atlantic,1792147,1675122,64610,52415,402473,...,83982,31162,1760985,904377,887770,0.934701,0.036052,0.017388,0.277159,0.465235
1018,2020,WISCONSIN,55,Midwest,East North Central,5822434,5067781,390543,364110,1422095,...,247207,413208,5409226,2925225,2897209,0.870389,0.067076,0.070968,0.243544,0.502778
1019,2020,WYOMING,56,West,Mountain,578759,535371,7467,35921,148172,...,21640,58609,520150,284029,294730,0.925033,0.012902,0.101267,0.241318,0.522559

In [10]:
df2_final = df2[['YEAR','STATE_NAME','REGION','PCT_WHITE','PCT_BLACK','PCT_HISPANIC','PCT_OVER_60','PCT_UNDER_40']]
df2_final

,YEAR,STATE_NAME,REGION,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40
0,2000,ALABAMA,South,0.718555,0.260610,0.017049,0.173121,0.563600
1,2000,ALASKA,West,0.712087,0.036541,0.041236,0.084585,0.627195
2,2000,ARIZONA,West,0.880687,0.032933,0.252545,0.169827,0.587959
3,2000,ARKANSAS,South,0.816632,0.157303,0.032493,0.183815,0.559322
4,2000,CALIFORNIA,West,0.778388,0.070299,0.323768,0.140014,0.609940
...,...,...,...,...,...,...,...,...
1015,2020,VIRGINIA,South,0.693883,0.198806,0.097759,0.221305,0.519141
1016,2020,WASHINGTON,West,0.785001,0.043589,0.130234,0.220739,0.531032
1017,2020,WEST VIRGINIA,South,0.934701,0.036052,0.017388,0.277159,0.465235
1018,2020,WISCONSIN,Midwest,0.870389,0.067076,0.070968,0.243544,0.502778
1019,2020,WYOMING,West,0.925033,0.012902,0.101267,0.241318,0.522559

In [11]:
df2_final2 = pd.get_dummies(data=df2_final, columns=['REGION'])
df2_final2

,YEAR,STATE_NAME,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40,REGION_Midwest,REGION_Northeast,REGION_South,REGION_West
0,2000,ALABAMA,0.718555,0.260610,0.017049,0.173121,0.563600,0,0,1,0
1,2000,ALASKA,0.712087,0.036541,0.041236,0.084585,0.627195,0,0,0,1
2,2000,ARIZONA,0.880687,0.032933,0.252545,0.169827,0.587959,0,0,0,1
3,2000,ARKANSAS,0.816632,0.157303,0.032493,0.183815,0.559322,0,0,1,0
4,2000,CALIFORNIA,0.778388,0.070299,0.323768,0.140014,0.609940,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1015,2020,VIRGINIA,0.693883,0.198806,0.097759,0.221305,0.519141,0,0,1,0
1016,2020,WASHINGTON,0.785001,0.043589,0.130234,0.220739,0.531032,0,0,0,1
1017,2020,WEST VIRGINIA,0.934701,0.036052,0.017388,0.277159,0.465235,0,0,1,0
1018,2020,WISCONSIN,0.870389,0.067076,0.070968,0.243544,0.502778,1,0,0,0
1019,2020,WYOMING,0.925033,0.012902,0.101267,0.241318,0.522559,0,0,0,1

In [12]:
merged_df = pd.merge(df1_final, df2_final2, how='inner', left_on=['YEAR','STATE'], right_on = ['YEAR','STATE_NAME'])
merged_df

,YEAR,STATE,OUTCOME,STATE_NAME,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40,REGION_Midwest,REGION_Northeast,REGION_South,REGION_West
0,2000,ALABAMA,1,ALABAMA,0.718555,0.260610,0.017049,0.173121,0.563600,0,0,1,0
1,2000,ALASKA,1,ALASKA,0.712087,0.036541,0.041236,0.084585,0.627195,0,0,0,1
2,2000,ARIZONA,1,ARIZONA,0.880687,0.032933,0.252545,0.169827,0.587959,0,0,0,1
3,2000,ARKANSAS,1,ARKANSAS,0.816632,0.157303,0.032493,0.183815,0.559322,0,0,1,0
4,2000,CALIFORNIA,0,CALIFORNIA,0.778388,0.070299,0.323768,0.140014,0.609940,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2020,VIRGINIA,0,VIRGINIA,0.693883,0.198806,0.097759,0.221305,0.519141,0,0,1,0
302,2020,WASHINGTON,0,WASHINGTON,0.785001,0.043589,0.130234,0.220739,0.531032,0,0,0,1
303,2020,WEST VIRGINIA,1,WEST VIRGINIA,0.934701,0.036052,0.017388,0.277159,0.465235,0,0,1,0
304,2020,WISCONSIN,0,WISCONSIN,0.870389,0.067076,0.070968,0.243544,0.502778,1,0,0,0
305,2020,WYOMING,1,WYOMING,0.925033,0.012902,0.101267,0.241318,0.522559,0,0,0,1

In [13]:
data3 = Path('Resources/PAST_5_ELECTION_VOTING.csv')
df3 = pd.read_csv(data3)

df3

,YEAR,STATE,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified,Outcome,PAST_5_ELECTION_VOTING
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT,0,0.0
1,1980,ALABAMA,AL,1,63,41,US PRESIDENT,"REAGAN, RONALD",REPUBLICAN,False,654192,1341929,20210113,NaN,REPUBLICAN,1,0.0
2,1984,ALABAMA,AL,1,63,41,US PRESIDENT,"REAGAN, RONALD",REPUBLICAN,False,872849,1441713,20210113,NaN,REPUBLICAN,1,0.0
3,1988,ALABAMA,AL,1,63,41,US PRESIDENT,"BUSH, GEORGE H.W.",REPUBLICAN,False,815576,1378476,20210113,NaN,REPUBLICAN,1,0.0
4,1992,ALABAMA,AL,1,63,41,US PRESIDENT,"BUSH, GEORGE H.W.",REPUBLICAN,False,804283,1688060,20210113,NaN,REPUBLICAN,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2004,WYOMING,WY,56,83,68,US PRESIDENT,"BUSH, GEORGE W.",REPUBLICAN,False,167629,243861,20210113,NaN,REPUBLICAN,1,1.0
608,2008,WYOMING,WY,56,83,68,US PRESIDENT,"MCCAIN, JOHN",REPUBLICAN,False,164958,254904,20210113,NaN,REPUBLICAN,1,1.0
609,2012,WYOMING,WY,56,83,68,US PRESIDENT,"ROMNEY, MITT",REPUBLICAN,False,170962,250701,20210113,NaN,REPUBLICAN,1,1.0
610,2016,WYOMING,WY,56,83,68,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,174419,258788,20210113,NaN,REPUBLICAN,1,1.0
611,2020,WYOMING,WY,56,83,68,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,193559,278503,20210113,NaN,REPUBLICAN,1,1.0

In [14]:
df3 = df3[df3.YEAR >= 2000]
df3

,YEAR,STATE,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified,Outcome,PAST_5_ELECTION_VOTING
6,2000,ALABAMA,AL,1,63,41,US PRESIDENT,"BUSH, GEORGE W.",REPUBLICAN,False,941173,1666272,20210113,NaN,REPUBLICAN,1,1.0
7,2004,ALABAMA,AL,1,63,41,US PRESIDENT,"BUSH, GEORGE W.",REPUBLICAN,False,1176394,1883415,20210113,NaN,REPUBLICAN,1,1.0
8,2008,ALABAMA,AL,1,63,41,US PRESIDENT,"MCCAIN, JOHN",REPUBLICAN,False,1266546,2099819,20210113,NaN,REPUBLICAN,1,1.0
9,2012,ALABAMA,AL,1,63,41,US PRESIDENT,"ROMNEY, MITT",REPUBLICAN,False,1255925,2074338,20210113,NaN,REPUBLICAN,1,1.0
10,2016,ALABAMA,AL,1,63,41,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,1318255,2123372,20210113,NaN,REPUBLICAN,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2004,WYOMING,WY,56,83,68,US PRESIDENT,"BUSH, GEORGE W.",REPUBLICAN,False,167629,243861,20210113,NaN,REPUBLICAN,1,1.0
608,2008,WYOMING,WY,56,83,68,US PRESIDENT,"MCCAIN, JOHN",REPUBLICAN,False,164958,254904,20210113,NaN,REPUBLICAN,1,1.0
609,2012,WYOMING,WY,56,83,68,US PRESIDENT,"ROMNEY, MITT",REPUBLICAN,False,170962,250701,20210113,NaN,REPUBLICAN,1,1.0
610,2016,WYOMING,WY,56,83,68,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,174419,258788,20210113,NaN,REPUBLICAN,1,1.0
611,2020,WYOMING,WY,56,83,68,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,193559,278503,20210113,NaN,REPUBLICAN,1,1.0

In [15]:
df3_final = df3[['YEAR','STATE','PAST_5_ELECTION_VOTING']]

In [16]:
merged_df = pd.merge(merged_df, df3_final, how='inner', left_on=['YEAR','STATE'], right_on = ['YEAR','STATE'])
merged_df.set_index(['YEAR','STATE'])

                    OUTCOME     STATE_NAME  PCT_WHITE  PCT_BLACK  \
YEAR STATE
2000 ALABAMA              1        ALABAMA   0.718555   0.260610
     ALASKA               1         ALASKA   0.712087   0.036541
     ARIZONA              1        ARIZONA   0.880687   0.032933
     ARKANSAS             1       ARKANSAS   0.816632   0.157303
     CALIFORNIA           0     CALIFORNIA   0.778388   0.070299
...                     ...            ...        ...        ...
2020 VIRGINIA             0       VIRGINIA   0.693883   0.198806
     WASHINGTON           0     WASHINGTON   0.785001   0.043589
     WEST VIRGINIA        1  WEST VIRGINIA   0.934701   0.036052
     WISCONSIN            0      WISCONSIN   0.870389   0.067076
     WYOMING              1        WYOMING   0.925033   0.012902

                    PCT_HISPANIC  PCT_OVER_60  PCT_UNDER_40  REGION_Midwest  \
YEAR STATE
2000 ALABAMA            0.017049     0.173121      0.563600               0
     ALASKA             0.041236     0.084585      0.627195               0
     ARIZONA            0.252545     0.169827      0.587959               0
     ARKANSAS           0.032493     0.183815      0.559322               0
     CALIFORNIA         0.323768     0.140014      0.609940               0
...                          ...          ...           ...             ...
2020 VIRGINIA           0.097759     0.221305      0.519141               0
     WASHINGTON         0.130234     0.220739      0.531032               0
     WEST VIRGINIA      0.017388     0.277159      0.465235               0
     WISCONSIN          0.070968     0.243544      0.502778               1
     WYOMING            0.101267     0.241318      0.522559               0

                    REGION_Northeast  REGION_South  REGION_West  \
YEAR STATE
2000 ALABAMA                       0             1            0
     ALASKA                        0             0            1
     ARIZONA                       0             0            1
     ARKANSAS                      0             1            0
     CALIFORNIA                    0             0            1
...                              ...           ...          ...
2020 VIRGINIA                      0             1            0
     WASHINGTON                    0             0            1
     WEST VIRGINIA                 0             1            0
     WISCONSIN                     0             0            0
     WYOMING                       0             0            1

                    PAST_5_ELECTION_VOTING
YEAR STATE
2000 ALABAMA                           1.0
     ALASKA                            1.0
     ARIZONA                           0.8
     ARKANSAS                          0.6
     CALIFORNIA                        0.6
...                                    ...
2020 VIRGINIA                          0.4
     WASHINGTON                        0.0
     WEST VIRGINIA                     1.0
     WISCONSIN                         0.2
     WYOMING                           1.0

[306 rows x 12 columns]

In [17]:
merged_df_train = merged_df[merged_df.YEAR < 2020]
merged_df_test = merged_df[merged_df.YEAR == 2020].set_index('STATE')
merged_df_test

,YEAR,OUTCOME,STATE_NAME,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40,REGION_Midwest,REGION_Northeast,REGION_South,REGION_West,PAST_5_ELECTION_VOTING
STATE,,,,,,,,,,,,,
ALABAMA,2020,1,ALABAMA,0.691264,0.267844,0.045537,0.238862,0.507814,0,0,1,0,1.0
ALASKA,2020,1,ALASKA,0.652712,0.037056,0.072739,0.186872,0.571590,0,0,0,1,1.0
ARIZONA,2020,0,ARIZONA,0.826168,0.051794,0.317445,0.239424,0.523190,0,0,0,1,1.0
ARKANSAS,2020,1,ARKANSAS,0.790395,0.156752,0.078412,0.235885,0.519662,0,0,1,0,1.0
CALIFORNIA,2020,0,CALIFORNIA,0.719391,0.064607,0.394179,0.205404,0.541762,0,0,0,1,0.0
COLORADO,2020,0,COLORADO,0.869394,0.045927,0.218260,0.206720,0.542586,0,0,0,1,0.4
CONNECTICUT,2020,0,CONNECTICUT,0.797002,0.121893,0.168557,0.245627,0.487309,0,1,0,0,0.0
DELAWARE,2020,0,DELAWARE,0.692237,0.231621,0.095907,0.264254,0.487305,0,0,1,0,0.0
DISTRICT OF COLUMBIA,2020,0,DISTRICT OF COLUMBIA,0.459910,0.459773,0.112614,0.170870,0.607982,0,0,1,0,0.0
FLORIDA,2020,1,FLORIDA,0.772772,0.169176,0.263708,0.274991,0.470667,0,0,1,0,0.6
GEORGIA,2020,0,GEORGIA,0.601983,0.325705,0.098774,0.200904,0.538864,0,0,1,0,1.0
HAWAII,2020,0,HAWAII,0.255190,0.021865,0.106552,0.252584,0.505419,0,0,0,1,0.0
IDAHO,2020,1,IDAHO,0.930221,0.009147,0.128417,0.223545,0.541295,0,0,0,1,1.0
ILLINOIS,2020,0,ILLINOIS,0.767602,0.146192,0.175183,0.224665,0.519526,1,0,0,0,0.0
INDIANA,2020,1,INDIANA,0.848100,0.099461,0.072688,0.224615,0.526672,1,0,0,0,0.8
IOWA,2020,1,IOWA,0.906186,0.040603,0.062930,0.240190,0.520105,1,0,0,0,0.4
KANSAS,2020,1,KANSAS,0.862882,0.061348,0.122223,0.225983,0.538480,1,0,0,0,1.0
KENTUCKY,2020,1,KENTUCKY,0.875159,0.084715,0.039104,0.233197,0.511397,0,0,1,0,1.0
LOUISIANA,2020,1,LOUISIANA,0.627871,0.327985,0.053126,0.223143,0.533477,0,0,1,0,1.0
MAINE,2020,0,MAINE,0.944290,0.016881,0.017631,0.290808,0.444682,0,1,0,0,0.0
MARYLAND,2020,0,MARYLAND,0.585450,0.310742,0.106493,0.222676,0.512864,0,0,1,0,0.0
MASSACHUSETTS,2020,0,MASSACHUSETTS,0.805827,0.090229,0.124034,0.235264,0.505299,0,1,0,0,0.0
MICHIGAN,2020,0,MICHIGAN,0.792198,0.140974,0.052890,0.246002,0.500698,1,0,0,0,0.2
MINNESOTA,2020,0,MINNESOTA,0.837631,0.070139,0.055878,0.228000,0.523564,1,0,0,0,0.0
MISSISSIPPI,2020,1,MISSISSIPPI,0.590723,0.377857,0.033637,0.226901,0.525787,0,0,1,0,1.0
MISSOURI,2020,1,MISSOURI,0.828717,0.118222,0.043782,0.238915,0.514062,1,0,0,0,1.0
MONTANA,2020,1,MONTANA,0.889063,0.005978,0.040503,0.265235,0.499107,0,0,0,1,1.0
NEBRASKA,2020,1,NEBRASKA,0.880956,0.052090,0.113546,0.222891,0.543171,1,0,0,0,1.0
NEVADA,2020,0,NEVADA,0.739427,0.102691,0.292388,0.221258,0.523083,0,0,0,1,0.4
NEW HAMPSHIRE,2020,0,NEW HAMPSHIRE,0.931152,0.017924,0.040148,0.263242,0.465650,0,1,0,0,0.2
NEW JERSEY,2020,0,NEW JERSEY,0.719283,0.150577,0.209052,0.231540,0.498146,0,1,0,0,0.0
NEW MEXICO,2020,0,NEW MEXICO,0.818691,0.026121,0.492621,0.244654,0.520474,0,0,0,1,0.2
NEW YORK,2020,0,NEW YORK,0.696365,0.175861,0.192821,0.233605,0.510421,0,1,0,0,0.0
NORTH CAROLINA,2020,1,NORTH CAROLINA,0.705514,0.222211,0.097809,0.229777,0.511974,0,0,1,0,0.8
NORTH DAKOTA,2020,1,NORTH DAKOTA,0.869424,0.034097,0.041377,0.218711,0.562150,1,0,0,0,1.0
OHIO,2020,1,OHIO,0.817235,0.130512,0.040248,0.243199,0.506202,1,0,0,0,0.6
OKLAHOMA,2020,1,OKLAHOMA,0.739797,0.077792,0.110719,0.221350,0.541191,0,0,1,0,1.0
OREGON,2020,0,OREGON,0.866611,0.022225,0.134396,0.246179,0.505344,0,0,0,1,0.0
PENNSYLVANIA,2020,0,PENNSYLVANIA,0.816050,0.120301,0.078125,0.256878,0.490347,0,1,0,0,0.2
RHODE ISLAND,2020,0,RHODE ISLAND,0.835898,0.085059,0.162970,0.245531,0.498902,0,1,0,0,0.0
SOUTH CAROLINA,2020,1,SOUTH CAROLINA,0.686006,0.269585,0.059649,0.247866,0.501373,0,0,1,0,1.0
SOUTH DAKOTA,2020,1,SOUTH DAKOTA,0.845603,0.022983,0.042221,0.238035,0.532929,1,0,0,0,1.0
TENNESSEE,2020,1,TENNESSEE,0.784049,0.170513,0.057310,0.231038,0.513631,0,0,1,0,1.0
TEXAS,2020,1,TEXAS,0.786530,0.128957,0.397490,0.182358,0.570934,0,0,1,0,1.0
UTAH,2020,1,UTAH,0.905855,0.014828,0.144123,0.160170,0.622688,0,0,0,1,1.0
VERMONT,2020,0,VERMONT,0.942488,0.014061,0.020383,0.277045,0.466790,0,1,0,0,0.0
VIRGINIA,2020,0,VIRGINIA,0.693883,0.198806,0.097759,0.221305,0.519141,0,0,1,0,0.4
WASHINGTON,2020,0,WASHINGTON,0.785001,0.043589,0.130234,0.220739,0.531032,0,0,0,1,0.0
WEST VIRGINIA,2020,1,WEST VIRGINIA,0.934701,0.036052,0.017388,0.277159,0.465235,0,0,1,0,1.0
WISCONSIN,2020,0,WISCONSIN,0.870389,0.067076,0.070968,0.243544,0.502778,1,0,0,0,0.2
WYOMING,2020,1,WYOMING,0.925033,0.012902,0.101267,0.241318,0.522559,0,0,0,1,1.0

In [18]:
y_train = merged_df_train.OUTCOME
y_test = merged_df_test.OUTCOME
X_train = merged_df_train.drop(columns=['YEAR','STATE','STATE_NAME','OUTCOME'])
X_test = merged_df_test.drop(columns=['YEAR','STATE_NAME','OUTCOME'])

In [19]:
classifier = LogisticRegression(solver='lbfgs',
                                random_state=1)

In [20]:
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [21]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test})
results

                      Prediction  Actual
STATE
ALABAMA                        1       1
ALASKA                         1       1
ARIZONA                        1       0
ARKANSAS                       1       1
CALIFORNIA                     0       0
COLORADO                       0       0
CONNECTICUT                    0       0
DELAWARE                       0       0
DISTRICT OF COLUMBIA           0       0
FLORIDA                        1       1
GEORGIA                        1       0
HAWAII                         0       0
IDAHO                          1       1
ILLINOIS                       0       0
INDIANA                        1       1
IOWA                           0       1
KANSAS                         1       1
KENTUCKY                       1       1
LOUISIANA                      1       1
MAINE                          0       0
MARYLAND                       0       0
MASSACHUSETTS                  0       0
MICHIGAN                       0       0
MINNESOTA                      0       0
MISSISSIPPI                    1       1
MISSOURI                       1       1
MONTANA                        1       1
NEBRASKA                       1       1
NEVADA                         0       0
NEW HAMPSHIRE                  0       0
NEW JERSEY                     0       0
NEW MEXICO                     0       0
NEW YORK                       0       0
NORTH CAROLINA                 1       1
NORTH DAKOTA                   1       1
OHIO                           1       1
OKLAHOMA                       1       1
OREGON                         0       0
PENNSYLVANIA                   0       0
RHODE ISLAND                   0       0
SOUTH CAROLINA                 1       1
SOUTH DAKOTA                   1       1
TENNESSEE                      1       1
TEXAS                          1       1
UTAH                           1       1
VERMONT                        0       0
VIRGINIA                       1       0
WASHINGTON                     0       0
WEST VIRGINIA                  1       1
WISCONSIN                      0       0
WYOMING                        1       1

In [22]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.9215686274509803

In [23]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[23  3]
 [ 1 24]]

In [24]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.96      0.88      0.92        26
           1       0.89      0.96      0.92        25

    accuracy                           0.92        51
   macro avg       0.92      0.92      0.92        51
weighted avg       0.92      0.92      0.92        51

In [25]:
results.to_csv("2020_predictions.csv")