In [1]:
# Import Dependencies 
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import sqlalchemy as db
from sklearn import preprocessing

In [2]:
from config import password
# Set up variables to connect to SQL
database = "presidential_migration_db"
user = "postgres_blue"
password = f'{password}'
host = "presidential-migration-db.cexjpewgnljl.us-east-2.rds.amazonaws.com"
port = "5432"

In [3]:
# Create connection to Postgres DB using SQL Alchemy
engine = db.create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
engine.connect()

In [4]:
# Pull in Election Demographics table from Postgres
df = pd.read_sql_query('SELECT * from election_dem', con=engine)
df.sort_values(by=['STATE', 'YEAR'], inplace=True)
df.set_index(['STATE', 'YEAR'], inplace=True)
df.drop(columns=['previous_senate_winning_party', 'electoral_votes'], inplace=True)
df

              OUTCOME  PCT_WHITE  PCT_BLACK  PCT_HISPANIC  PCT_OVER_60  \
STATE   YEAR
ALABAMA 2000        1   0.718555   0.260610      0.017049     0.173121
        2004        1   0.712418   0.261851      0.025003     0.178516
        2008        1   0.706231   0.263154      0.034697     0.188939
        2012        1   0.700032   0.264896      0.039591     0.204672
        2016        1   0.693757   0.267632      0.042229     0.224124
...               ...        ...        ...           ...          ...
WYOMING 2004        1   0.945082   0.008898      0.072678     0.166543
        2008        1   0.940193   0.008999      0.084149     0.175860
        2012        1   0.932112   0.013311      0.093638     0.193519
        2016        1   0.928896   0.012540      0.098770     0.218721
        2020        1   0.925033   0.012902      0.101267     0.241318

              PCT_UNDER_40  REGION_Midwest  REGION_Northeast  REGION_South  \
STATE   YEAR
ALABAMA 2000      0.563600               0                 0             1
        2004      0.543161               0                 0             1
        2008      0.533678               0                 0             1
        2012      0.521450               0                 0             1
        2016      0.513533               0                 0             1
...                    ...             ...               ...           ...
WYOMING 2004      0.534961               0                 0             0
        2008      0.537181               0                 0             0
        2012      0.536336               0                 0             0
        2016      0.535738               0                 0             0
        2020      0.522559               0                 0             0

              REGION_West  PAST_5_ELECTION_VOTING  bachelors_per_capita  \
STATE   YEAR
ALABAMA 2000            0                     1.0              0.064943
        2004            0                     1.0              0.063746
        2008            0                     1.0              0.062937
        2012            0                     1.0              0.066716
        2016            0                     1.0              0.068854
...                   ...                     ...                   ...
WYOMING 2004            1                     1.0              0.058593
        2008            1                     1.0              0.058283
        2012            1                     1.0              0.064167
        2016            1                     1.0              0.074305
        2020            1                     1.0              0.074103

              bachelors_degree_tot  med_house_inc  violent_crime_rate  \
STATE   YEAR
ALABAMA 2000                288815          49855               21620
        2004                288815          51395               19324
        2008                296950          31051               21110
        2012                321275          47091               21693
        2016                334875          36480               25878
...                            ...            ...                 ...
WYOMING 2004                 29830          32023                1163
        2008                 31825          40238                1330
        2012                 36980          61285                1161
        2016                 43410          47390                1431
        2020                 44925          65134                1258

              gdp_per_capita  guns_per_household    population  \
STATE   YEAR
ALABAMA 2000    27013.111825               0.538  4.447207e+06
        2004    32420.102813               0.516  4.530729e+06
        2008    36598.062908               0.503  4.718206e+06
        2012    38739.589018               0.543  4.815588e+06
        2016    42038.377514               0.528  4.863525e+06
...                      ...                 ...           ...
WYOMING 2004    45609.558717               0.607  5.091060e+05
        2008    77924.632309               0.640  5.460430e+05
        2012    66696.801173               0.597  5.763050e+05
        2016    61114.486961               0.607  5.842150e+05
        2020    59779.901246               0.607  6.062489e+05

              unemployment_rate  previous_senate_outcome
STATE   YEAR
ALABAMA 2000                4.6                      1.0
        2004                5.6                      1.0
        2008                5.8                      1.0
        2012                8.2                      1.0
        2016                5.9                      1.0
...                         ...                      ...
WYOMING 2004                3.8                      1.0
        2008                2.9                      1.0
        2012                5.5                      1.0
        2016                5.4                      1.0
        2020                5.8                      1.0

[306 rows x 20 columns]

In [5]:
# Scale data using MinMaxScaler
scaler = preprocessing.MinMaxScaler()
names = df.columns
index = df.index
d = scaler.fit_transform(df)

scaled_df = pd.DataFrame(d, columns=names, index=index)
scaled_df.reset_index(inplace=True)
scaled_df.head(20)

,STATE,YEAR,OUTCOME,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40,REGION_Midwest,REGION_Northeast,...,PAST_5_ELECTION_VOTING,bachelors_per_capita,bachelors_degree_tot,med_house_inc,violent_crime_rate,gdp_per_capita,guns_per_household,population,unemployment_rate,previous_senate_outcome
0,ALABAMA,2000,1.0,0.645715,0.423755,0.021122,0.429324,0.509877,0.0,0.0,...,1.0,0.065446,0.060219,0.438072,0.100458,0.021937,0.754839,0.099456,0.233645,1.0
1,ALABAMA,2004,1.0,0.637163,0.425796,0.037494,0.455484,0.422240,0.0,0.0,...,1.0,0.060060,0.060219,0.460934,0.089525,0.051943,0.719355,0.101558,0.327103,1.0
2,ALABAMA,2008,1.0,0.628541,0.427940,0.057447,0.506023,0.381582,0.0,0.0,...,1.0,0.056422,0.062111,0.158920,0.098030,0.075129,0.698387,0.106274,0.345794,1.0
3,ALABAMA,2012,1.0,0.619903,0.430807,0.067521,0.582315,0.329151,0.0,0.0,...,1.0,0.073421,0.067767,0.397040,0.100806,0.087013,0.762903,0.108724,0.570093,1.0
4,ALABAMA,2016,1.0,0.611159,0.435310,0.072949,0.676639,0.295208,0.0,0.0,...,1.0,0.083043,0.070929,0.239515,0.120733,0.105319,0.738710,0.109930,0.355140,1.0
5,ALABAMA,2020,1.0,0.607685,0.435660,0.079760,0.748106,0.270685,0.0,0.0,...,1.0,0.093194,0.075502,0.458589,0.116772,0.122325,0.738710,0.113004,0.355140,1.0
6,ALASKA,2000,1.0,0.636703,0.055005,0.070905,0.000000,0.782547,0.0,0.0,...,1.0,0.098456,0.003601,0.454402,0.014433,0.109396,0.856452,0.003350,0.392523,1.0
7,ALASKA,2004,1.0,0.618474,0.054380,0.088679,0.076084,0.645802,0.0,0.0,...,1.0,0.082499,0.003601,0.545256,0.017314,0.166535,0.822581,0.004163,0.495327,1.0
8,ALASKA,2008,1.0,0.602351,0.052215,0.097578,0.166148,0.587660,0.0,0.0,...,1.0,0.096201,0.004538,0.168510,0.018818,0.314069,0.875806,0.004872,0.411215,1.0
9,ALASKA,2012,1.0,0.584617,0.054587,0.113286,0.271011,0.573121,0.0,0.0,...,1.0,0.115813,0.005996,0.443729,0.018518,0.310531,0.866129,0.005954,0.476636,1.0
10,ALASKA,2016,1.0,0.566743,0.056037,0.130301,0.391974,0.587252,0.0,0.0,...,1.0,0.147615,0.007409,0.247799,0.025918,0.244426,0.809677,0.006231,0.420561,1.0
11,ALASKA,2020,1.0,0.553961,0.055851,0.135750,0.496000,0.544136,0.0,0.0,...,1.0,0.144399,0.007746,0.445436,0.027713,0.236309,0.809677,0.006834,0.532710,1.0
12,ARIZONA,2000,1.0,0.871653,0.049066,0.505846,0.413350,0.614321,0.0,0.0,...,0.8,0.131518,0.088053,0.470198,0.127414,0.050090,0.575806,0.116640,0.177570,1.0
13,ARIZONA,2004,1.0,0.856305,0.054604,0.547185,0.433662,0.540839,0.0,0.0,...,0.8,0.098425,0.088053,0.550185,0.135371,0.073679,0.480645,0.129776,0.271028,1.0
14,ARIZONA,2008,1.0,0.834105,0.063919,0.586075,0.479752,0.504118,0.0,0.0,...,0.8,0.087430,0.095037,0.171509,0.147823,0.101119,0.503226,0.145573,0.345794,1.0
15,ARIZONA,2012,1.0,0.817649,0.069750,0.606055,0.578278,0.423962,0.0,0.0,...,0.8,0.095170,0.102118,0.465863,0.131205,0.098976,0.556452,0.152482,0.579439,1.0
16,ARIZONA,2016,1.0,0.803534,0.075704,0.625964,0.676248,0.375732,0.0,0.0,...,0.8,0.102715,0.111248,0.332967,0.152466,0.122321,0.467742,0.162195,0.317757,1.0
17,ARIZONA,2020,0.0,0.795678,0.080107,0.639431,0.750830,0.336615,0.0,0.0,...,1.0,0.119943,0.125994,0.470777,0.155318,0.150627,0.467742,0.174221,0.542056,0.0
18,ARKANSAS,2000,1.0,0.782390,0.253741,0.052909,0.481179,0.491535,0.0,0.0,...,0.6,0.029456,0.028459,0.529550,0.054193,0.014727,0.761290,0.054830,0.196262,0.0
19,ARKANSAS,2004,1.0,0.775093,0.252753,0.079677,0.497415,0.422538,0.0,0.0,...,0.6,0.022339,0.028459,0.575125,0.063288,0.042683,0.764516,0.056752,0.327103,0.0

In [6]:
# Declare year lists to be converted into columns
y2000 = [2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000]
y2004 = [2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004]
y2008 = [2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008]
y2012 = [2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012]
y2016 = [2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016]
y2020 = [2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020]

In [7]:
df_2000 = scaled_df[scaled_df.YEAR == 2000]
df_2004 = scaled_df[scaled_df.YEAR == 2004]
df_2008 = scaled_df[scaled_df.YEAR == 2008]
df_2012 = scaled_df[scaled_df.YEAR == 2012]
df_2016 = scaled_df[scaled_df.YEAR == 2016]
df_2020 = scaled_df[scaled_df.YEAR == 2020]

In [8]:
y_2000 = df_2000.OUTCOME
X_2000 = df_2000.drop(columns=['YEAR','STATE','OUTCOME', 'guns_per_household', 'med_house_inc', 'violent_crime_rate', 
                               'population', 'PCT_UNDER_40', 'bachelors_degree_tot'])

y_2004 = df_2004.OUTCOME
X_2004 = df_2004.drop(columns=['YEAR','STATE','OUTCOME', 'guns_per_household', 'med_house_inc', 'violent_crime_rate', 
                               'population', 'PCT_UNDER_40', 'bachelors_degree_tot'])

y_2008 = df_2008.OUTCOME
X_2008 = df_2008.drop(columns=['YEAR','STATE','OUTCOME', 'guns_per_household', 'med_house_inc', 'violent_crime_rate', 
                               'population', 'PCT_UNDER_40', 'bachelors_degree_tot'])

y_2012 = df_2012.OUTCOME
X_2012 = df_2012.drop(columns=['YEAR','STATE','OUTCOME', 'guns_per_household', 'med_house_inc', 'violent_crime_rate', 
                               'population', 'PCT_UNDER_40', 'bachelors_degree_tot'])

y_2016 = df_2016.OUTCOME
X_2016 = df_2016.drop(columns=['YEAR','STATE','OUTCOME', 'guns_per_household', 'med_house_inc', 'violent_crime_rate', 
                               'population', 'PCT_UNDER_40', 'bachelors_degree_tot'])

y_2020 = df_2020.OUTCOME
X_2020 = df_2020.drop(columns=['YEAR','STATE','OUTCOME', 'guns_per_household', 'med_house_inc', 'violent_crime_rate', 
                               'population', 'PCT_UNDER_40', 'bachelors_degree_tot'])

In [9]:
# Find 2000 coefficients and store in a DF
logreg = LogisticRegression()
logreg.fit(X_2000, y_2000)
log_odds = logreg.coef_[0]
coef2000_df = pd.DataFrame(log_odds, 
             X_2000.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)
coef2000_df

                             coef
PAST_5_ELECTION_VOTING   2.074109
REGION_South             1.065352
previous_senate_outcome  0.894067
PCT_WHITE                0.492303
REGION_West              0.133276
PCT_OVER_60             -0.057010
REGION_Midwest          -0.063562
unemployment_rate       -0.074102
PCT_BLACK               -0.253929
gdp_per_capita          -0.331634
bachelors_per_capita    -0.475621
PCT_HISPANIC            -0.557484
REGION_Northeast        -1.135155

In [10]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2000_df['Year'] = y2000
coef2000_df.reset_index(inplace=True)
coef2000_df

                      index      coef  Year
0    PAST_5_ELECTION_VOTING  2.074109  2000
1              REGION_South  1.065352  2000
2   previous_senate_outcome  0.894067  2000
3                 PCT_WHITE  0.492303  2000
4               REGION_West  0.133276  2000
5               PCT_OVER_60 -0.057010  2000
6            REGION_Midwest -0.063562  2000
7         unemployment_rate -0.074102  2000
8                 PCT_BLACK -0.253929  2000
9            gdp_per_capita -0.331634  2000
10     bachelors_per_capita -0.475621  2000
11             PCT_HISPANIC -0.557484  2000
12         REGION_Northeast -1.135155  2000

In [11]:
# Find 2004 coefficients and store in a DF
logreg = LogisticRegression()
logreg.fit(X_2004, y_2004)
log_odds = logreg.coef_[0]
coef2004_df = pd.DataFrame(log_odds, 
             X_2004.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)
coef2004_df

                             coef
PAST_5_ELECTION_VOTING   2.246140
previous_senate_outcome  0.953489
REGION_South             0.920160
PCT_WHITE                0.462970
REGION_Midwest           0.334046
REGION_West              0.253960
PCT_OVER_60              0.121023
PCT_HISPANIC             0.062791
unemployment_rate       -0.165580
PCT_BLACK               -0.229291
gdp_per_capita          -0.366017
bachelors_per_capita    -0.585073
REGION_Northeast        -1.508158

In [12]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2004_df['Year'] = y2004
coef2004_df.reset_index(inplace=True)
coef2004_df

                      index      coef  Year
0    PAST_5_ELECTION_VOTING  2.246140  2004
1   previous_senate_outcome  0.953489  2004
2              REGION_South  0.920160  2004
3                 PCT_WHITE  0.462970  2004
4            REGION_Midwest  0.334046  2004
5               REGION_West  0.253960  2004
6               PCT_OVER_60  0.121023  2004
7              PCT_HISPANIC  0.062791  2004
8         unemployment_rate -0.165580  2004
9                 PCT_BLACK -0.229291  2004
10           gdp_per_capita -0.366017  2004
11     bachelors_per_capita -0.585073  2004
12         REGION_Northeast -1.508158  2004

In [13]:
# Find 2008 coefficients and store in a DF
logreg = LogisticRegression()
logreg.fit(X_2008, y_2008)
log_odds = logreg.coef_[0]
coef2008_df = pd.DataFrame(log_odds, 
             X_2008.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)
coef2008_df

                             coef
PAST_5_ELECTION_VOTING   1.883112
previous_senate_outcome  0.946701
REGION_South             0.682560
PCT_WHITE                0.356887
REGION_West              0.204560
REGION_Midwest           0.068983
PCT_OVER_60             -0.038316
gdp_per_capita          -0.242353
PCT_BLACK               -0.265939
unemployment_rate       -0.331165
bachelors_per_capita    -0.491017
PCT_HISPANIC            -0.613620
REGION_Northeast        -0.956068

In [14]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2008_df['Year'] = y2008
coef2008_df.reset_index(inplace=True)
coef2008_df

                      index      coef  Year
0    PAST_5_ELECTION_VOTING  1.883112  2008
1   previous_senate_outcome  0.946701  2008
2              REGION_South  0.682560  2008
3                 PCT_WHITE  0.356887  2008
4               REGION_West  0.204560  2008
5            REGION_Midwest  0.068983  2008
6               PCT_OVER_60 -0.038316  2008
7            gdp_per_capita -0.242353  2008
8                 PCT_BLACK -0.265939  2008
9         unemployment_rate -0.331165  2008
10     bachelors_per_capita -0.491017  2008
11             PCT_HISPANIC -0.613620  2008
12         REGION_Northeast -0.956068  2008

In [15]:
# Find 2012 coefficients and store in a DF
logreg = LogisticRegression()
logreg.fit(X_2012, y_2012)
log_odds = logreg.coef_[0]
coef2012_df = pd.DataFrame(log_odds, 
             X_2012.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)
coef2012_df

                             coef
PAST_5_ELECTION_VOTING   2.517894
previous_senate_outcome  1.346276
REGION_South             0.639038
REGION_West              0.255343
PCT_WHITE                0.225882
REGION_Midwest          -0.116989
PCT_BLACK               -0.129198
PCT_OVER_60             -0.144957
gdp_per_capita          -0.212697
unemployment_rate       -0.271540
bachelors_per_capita    -0.405679
PCT_HISPANIC            -0.522959
REGION_Northeast        -0.777408

In [16]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2012_df['Year'] = y2012
coef2012_df.reset_index(inplace=True)
coef2012_df

                      index      coef  Year
0    PAST_5_ELECTION_VOTING  2.517894  2012
1   previous_senate_outcome  1.346276  2012
2              REGION_South  0.639038  2012
3               REGION_West  0.255343  2012
4                 PCT_WHITE  0.225882  2012
5            REGION_Midwest -0.116989  2012
6                 PCT_BLACK -0.129198  2012
7               PCT_OVER_60 -0.144957  2012
8            gdp_per_capita -0.212697  2012
9         unemployment_rate -0.271540  2012
10     bachelors_per_capita -0.405679  2012
11             PCT_HISPANIC -0.522959  2012
12         REGION_Northeast -0.777408  2012

In [17]:
# Find 2016 coefficients and store in a DF
logreg = LogisticRegression()
logreg.fit(X_2016, y_2016)
log_odds = logreg.coef_[0]
coef2016_df = pd.DataFrame(log_odds, 
             X_2016.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)
coef2016_df

                             coef
PAST_5_ELECTION_VOTING   2.072093
REGION_Midwest           1.015141
previous_senate_outcome  1.011323
PCT_WHITE                0.334400
REGION_South             0.300165
unemployment_rate        0.175680
PCT_OVER_60              0.140047
PCT_BLACK               -0.058074
gdp_per_capita          -0.429818
PCT_HISPANIC            -0.495820
bachelors_per_capita    -0.598678
REGION_West             -0.627544
REGION_Northeast        -0.688076

In [18]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2016_df['Year'] = y2016
coef2016_df.reset_index(inplace=True)
coef2016_df

                      index      coef  Year
0    PAST_5_ELECTION_VOTING  2.072093  2016
1            REGION_Midwest  1.015141  2016
2   previous_senate_outcome  1.011323  2016
3                 PCT_WHITE  0.334400  2016
4              REGION_South  0.300165  2016
5         unemployment_rate  0.175680  2016
6               PCT_OVER_60  0.140047  2016
7                 PCT_BLACK -0.058074  2016
8            gdp_per_capita -0.429818  2016
9              PCT_HISPANIC -0.495820  2016
10     bachelors_per_capita -0.598678  2016
11              REGION_West -0.627544  2016
12         REGION_Northeast -0.688076  2016

In [19]:
# Find 2020 coefficients and store in a DF
logreg = LogisticRegression()
logreg.fit(X_2020, y_2020)
log_odds = logreg.coef_[0]
coef2020_df = pd.DataFrame(log_odds, 
             X_2020.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)
coef2020_df

                             coef
PAST_5_ELECTION_VOTING   2.051667
previous_senate_outcome  1.764350
REGION_Midwest           0.516980
PCT_WHITE                0.428169
REGION_South             0.334617
PCT_OVER_60              0.143251
REGION_West             -0.113426
gdp_per_capita          -0.273663
PCT_BLACK               -0.324924
unemployment_rate       -0.328057
bachelors_per_capita    -0.380453
PCT_HISPANIC            -0.486842
REGION_Northeast        -0.738214

In [20]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2020_df['Year'] = y2020
coef2020_df.reset_index(inplace=True)
coef2020_df

                      index      coef  Year
0    PAST_5_ELECTION_VOTING  2.051667  2020
1   previous_senate_outcome  1.764350  2020
2            REGION_Midwest  0.516980  2020
3                 PCT_WHITE  0.428169  2020
4              REGION_South  0.334617  2020
5               PCT_OVER_60  0.143251  2020
6               REGION_West -0.113426  2020
7            gdp_per_capita -0.273663  2020
8                 PCT_BLACK -0.324924  2020
9         unemployment_rate -0.328057  2020
10     bachelors_per_capita -0.380453  2020
11             PCT_HISPANIC -0.486842  2020
12         REGION_Northeast -0.738214  2020

In [21]:
# Append all coefficient DFs into 1
coef_long_df = coef2000_df.append(coef2004_df,ignore_index=True)
coef_long_df = coef_long_df.append(coef2008_df,ignore_index=True)
coef_long_df = coef_long_df.append(coef2012_df,ignore_index=True)
coef_long_df = coef_long_df.append(coef2016_df,ignore_index=True)
coef_long_df = coef_long_df.append(coef2020_df,ignore_index=True)
coef_long_df['Party'] = np.where(coef_long_df['coef']>=0, 'Republican', 'Democrat')
coef_long_df = coef_long_df.rename(columns = {'index':'Feature', 'coef':'Coefficient'}, inplace = False)
coef_long_df['Coefficient'] =  coef_long_df['Coefficient'].abs()
coef_long_df

                    Feature  Coefficient  Year       Party
0    PAST_5_ELECTION_VOTING     2.074109  2000  Republican
1              REGION_South     1.065352  2000  Republican
2   previous_senate_outcome     0.894067  2000  Republican
3                 PCT_WHITE     0.492303  2000  Republican
4               REGION_West     0.133276  2000  Republican
..                      ...          ...   ...         ...
73                PCT_BLACK     0.324924  2020    Democrat
74        unemployment_rate     0.328057  2020    Democrat
75     bachelors_per_capita     0.380453  2020    Democrat
76             PCT_HISPANIC     0.486842  2020    Democrat
77         REGION_Northeast     0.738214  2020    Democrat

[78 rows x 4 columns]

In [22]:
# Export the coef_long_df to a csv for visualization use
coef_long_df.to_csv('Resources/coefficients_long_year.csv',index=False)

In [23]:
# Transpose the coef_long_df to a short/wide table with all yearly coefficients on one line
coef_short_df = coef_long_df.pivot(index='Year', columns='Feature', values = 'Coefficient')
coef_short_df.reset_index(inplace=True)
coef_short_df

Feature,Year,PAST_5_ELECTION_VOTING,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_WHITE,REGION_Midwest,REGION_Northeast,REGION_South,REGION_West,bachelors_per_capita,gdp_per_capita,previous_senate_outcome,unemployment_rate
0,2000,2.074109,0.253929,0.557484,0.057010,0.492303,0.063562,1.135155,1.065352,0.133276,0.475621,0.331634,0.894067,0.074102
1,2004,2.246140,0.229291,0.062791,0.121023,0.462970,0.334046,1.508158,0.920160,0.253960,0.585073,0.366017,0.953489,0.165580
2,2008,1.883112,0.265939,0.613620,0.038316,0.356887,0.068983,0.956068,0.682560,0.204560,0.491017,0.242353,0.946701,0.331165
3,2012,2.517894,0.129198,0.522959,0.144957,0.225882,0.116989,0.777408,0.639038,0.255343,0.405679,0.212697,1.346276,0.271540
4,2016,2.072093,0.058074,0.495820,0.140047,0.334400,1.015141,0.688076,0.300165,0.627544,0.598678,0.429818,1.011323,0.175680
5,2020,2.051667,0.324924,0.486842,0.143251,0.428169,0.516980,0.738214,0.334617,0.113426,0.380453,0.273663,1.764350,0.328057

In [24]:
# Export the coef_short_df to a csv for visualization use
coef_short_df.to_csv('Resources/coefficients_short_year.csv',index=False)